body {
    background-image: url('src/main/resources/static/images/jogoimagem.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho para sua imagem */
    background-size: cover; /* Garante que a imagem cubra toda a área do corpo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}